#select,
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-content {
  padding-left: 30px;
}
.select-box {
  padding-top: 1em;
}
.search-box {
  width: 50%;
  padding-top: 1em;
}
.v-stack {
  flex-direction: column;
}
.h-stack {
  flex-direction: row;
}
#secondary-search-area {
  width: 100%;
}
